
.flip-card {
    perspective: 1000px;
  }
  
  .flip-card-inner {
    transition: transform 1.5s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }
  